// --------------------------- \
// Utilities
// --------------------------- /
.nm {
  margin: 0;
}
.mb40 {
  margin-bottom: 40px;
}
.mb20 {
  margin-bottom: 20px;
}
.ib {
  display: inline-block;
}
.width-half {
  width: 50%;
}
.padded {
  padding: 40px 0;
}
.smaller {
  font-size: 14px;
}
.text-grey {
  color: $textGrey;
}

// --------------------------- \
// Base
// --------------------------- /

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

header, footer {
  background-color: #000;
}

.button {
  background-color: transparent;
  border: 8px solid #e2e0dd;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  &:hover {
    border-color: #D3D1CF;
    color: $text-color;
    text-decoration: none;
  }
}

// --------------------------- \
// Layout
// --------------------------- /
h1 {
  color: $darkBlue;
  padding: 30px;
  span {
    color: $darkGrey;
  }
}

// --------------------------- \
// Thanks
// --------------------------- /
.section-thanks {
  background-color: $darkGrey;
}

// --------------------------- \
// Skillz
// --------------------------- /
.section-skillz {
  background-color: #eceae8;
}