// --------------------------- \
// Utilities
// --------------------------- /
.nm {
  margin: 0;
}
.mb50 {
  margin-bottom: 50px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mt0 {
  margin-top: 0;
}
.m5 {
  margin: 5px;
}
.p30 {
  padding: 30px;
}
.ib {
  display: inline-block;
}
.width-half {
  width: 50%;
}
.padded {
  padding: 60px 0;
}
.smaller {
  font-size: 14px;
}
.text-grey {
  color: $textGrey;
}
.text-blue {
  color: $blue;
}
.text-bold {
  font-weight: 700;
}

// --------------------------- \
// Base
// --------------------------- /

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

header, footer {
  background-color: #000;
}

.button {
  background-color: transparent;
  border: 8px solid $midGrey;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  &:hover {
    border-color: #D3D1CF;
    color: $text-color;
    text-decoration: none;
  }
}

// --------------------------- \
// Layout
// --------------------------- /
h1 {
  color: $darkBlue;
  span {
    color: $darkGrey;
  }
}

// --------------------------- \
// Thanks
// --------------------------- /
.section-thanks {
  background-color: $darkGrey;
  color: $lightGrey;
  position: relative;
}
.section-thanks--content {
  margin-top: 10%;
  padding-left: 60px;
}
.arrow {
  margin-left: -20px;
  position: absolute;
  bottom: -20px;
  left: 50%;
}

// --------------------------- \
// Skillz
// --------------------------- /

// --------------------------- \
// iMac
// --------------------------- /
.section-imac {
  background-color: $midGrey;
}

// --------------------------- \
// Footer
// --------------------------- /
footer, footer a, footer a:hover {
  color: #305961;
}


// --------------------------- \
// Small
// --------------------------- /
@media (max-width: 991px) {
  .section-thanks--content {
    margin-top: 5%;
  }
  .mb20-sm {
    margin-bottom: 20px;
  }
}

// --------------------------- \
// Tiny
// --------------------------- /
@media (max-width: 767px) {
  .width-half {
    float: none !important;
    width: auto;
  }
  .section-thanks--content {
    margin-top: 0;
    padding: 40px;
    text-align: center;
  }
}